<div class="media">
  <div class="lead well">

    <div class="media">
      <div class="media-left">
      <a href="#">
        <%= image_tag('dummyProfileMediaObj.svg') %>
      </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">user@email.com asked:</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quod saepe. Accusamus blanditiis consectetur consequuntur dignissimos earum eius esse explicabo hic necessitatibus, porro possimus quae qui quo quos rem ullam?
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      
      <div><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button></div>
      <%= render 'home/new_answer_form' %>

      <div class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag('dummyProfileMediaObj.svg') %>
          </a>
        </div>

        <div class="media-body">
          <h4 class="media-heading">user@email.com answered:</h4>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quod saepe. Accusamus blanditiis consectetur consequuntur dignissimos earum eius esse explicabo hic necessitatibus, porro possimus quae qui quo quos rem ullam?
        </div>
      </div>

      <div class="media">
        <div class="media-left">
        <a href="#">
          <%= image_tag('dummyProfileMediaObj.svg') %>
        </a>
        </div>

        <div class="media-body">
        <h4 class="media-heading">user@email.com answered:</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quod saepe. Accusamus blanditiis consectetur consequuntur dignissimos earum eius esse explicabo hic necessitatibus, porro possimus quae qui quo quos rem ullam?
        </div>
      </div>

      <div class="media">
        <div class="media-left">
        <a href="#">
          <%= image_tag('dummyProfileMediaObj.svg') %>
        </a>
        </div>

        <div class="media-body">
        <h4 class="media-heading">user@email.com answered:</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quod saepe. Accusamus blanditiis consectetur consequuntur dignissimos earum eius esse explicabo hic necessitatibus, porro possimus quae qui quo quos rem ullam?
        </div>
      </div>

    </div>
  </div>



</div>